* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}
.background_img{
    width: 100%;
}

.produtos_painel{
    position: relative;
    width: calc( 100% - 100px);
    margin: 60px auto 60px;
}
.painel.img{
    width: 552px;
}
.painel_img{
    width: 552px;
}
.painel.info1{
    text-align: right;
    position: absolute;
    right: 0px;
    top: 100px;
}
.painel.info2{
    text-align: left;
    position: absolute;
    left: 0px;
    top: 100px;
}
.itens_info{
    margin-bottom: 10px;
}
.itens_info.painel_link_verMais{
    border: 1px solid #363636;
    border-radius: 40px;
    text-decoration: none;
    background-color: #363636;
    color: white;
    padding: 14px 37px;
    font-size: small;
}
.itens_info.painel_link_verMais:hover{
    border: 1px solid #C0C0C0;
    background-color: white;
    color: black;
    transition-delay: .5s all;
}



/*produtos*/
.produtos{
    position: relative;
    width: calc( 100% - 100px);
    margin: 40px auto 80px;
}
.Produtos_cabecalho{
    position: relative;
}
.link_verMais{
    border: 1px solid #363636;
    border-radius: 40px;
    text-decoration: none;
    background-color: #363636;
    color: white;
    padding: 14px 37px;
    position: absolute;
    right: 0px;
    top: 1px;
    font-size: small;
}
.link_verMais:hover{
    border: 1px solid #C0C0C0;
    background-color: white;
    color: black;
    transition-delay: .5s all;
}
.table_produtos{
    position: relative;
    margin-top: 20px;
    width: 100%;
}

/*produto*/
.td_produtos{
    text-align: center;
}
.linkProduto{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.linkProduto:hover{
    text-decoration: underline;
}
.img_produto{
    width: 250px;
}

@media (max-width: 1087px){
.painel.img{
    width: 452px;
}
.painel_img{
    width: 452px;
}
/*produto*/
.img_produto{
    width: 150px;
}
}
@media (max-width: 900px){
.painel.img{
    width: 352px;
}
.painel_img{
    width: 352px;
}
}
