* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

/*pós cabeçalho*/
.pos-cabecalho{
    width: calc( 100% - 100px);
    margin: 65px auto 60px;
}

.links_caminho{
    margin: 40px 0px 20px;
    size: 5px;
}
.link_caminho{
    color: black;
}
.link_caminho:hover{
    text-decoration: none;
}

.cabecalho_produtos{
    position: relative;
}

.checkboxFilter{
    width: 100px;
    position: absolute;
    top: 8px;
    right: 201px;
}
#check{
    display: none;
}
#icone{
    cursor: pointer;
    padding: 20px 15px;
}
.icon_filters{
    width: 20px;
    vertical-align: bottom;
}

.opcoesOrdem{
    width: 201px;
    position: absolute;
    top: 8px;
    right: 0px;
}
#appearance-select{   
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */   
    -moz-appearance: none; /* Remove estilo padrão do FireFox */   
    appearance: none; /* Remove estilo padrão do FireFox*/   
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */   
    background-position: 218px center;  /*Posição da imagem do background*/   
    width: 250px; /* Tamanho do select, maior que o tamanho da div "div-select" */   
    height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */   border:1px solid #ddd;
}