/*pré cabeçalho*/
.frete{
    color: white;
    font-size: 13px;
    position: absolute;
    top: 8px;
    left: 15px;
}
.caminhao{
    width: 20px;
    vertical-align: -4px;
}
.pre-cabecalho{
    z-index: 999;
    width: 100%;
    height: 35px;
    background-color: black;
}
.link_WhatsApp{
    text-decoration: none;
    color: white;
    font-size: 13px;
    position: absolute;
    top: 8px;
    right: 10px;
}
.logo_WhatsApp{
    width: 16px;
    vertical-align: -4px;
}

/*cabeçalho*/
header{   
    width: 100%;
    height: 65px;
    position: fixed;
    text-align: justify;
    z-index: 998;
}
header:hover{
    background-color: white;
}
header:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
}
.cabecalho__item{
    margin-top: 11px;
    display: inline-block;
}
.cabecalho__item.catalogo, .cabecalho__item.outros{
    width: 40%;
}


/*cabecalho__item catalogo*/
.cabecalho__item.catalogo{
    vertical-align: 12px;
}
.item_catalogo.primeiro{
    margin-left: 30px;
}
.item_catalogo{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    font-weight: bold;
}

/* cabecalho__item logo*/
.itemLogo__img{
    width: 170px;
}

/* cabecalho__item outros */
.cabecalho__item.outros{
    text-align: right;
    vertical-align: 5px;
}

    .CabecalhoItemPesquisa{
        width: 200px;
        border-radius: 40px;
        height: 40px;
        position: absolute;
        right: 144px;
        top: 14px;
        visibility: hidden;
        background-color: "";
    }
    .itemPesquisar.input{
        border-radius: 40px;
        width: 200px;
        height: 40px;
        text-indent: 10px;
        opacity: 0.5;
    }
    .itemPesquisar.input:focus, .itemPesquisar.buttom:focus{
        outline: 0;
    }
    .itemPesquisar.buttom{
        width: 25px;
        position: absolute;
        right: 10px;
        top: 7px;
    }

.itemOutros_img{
    height: 25px;
    margin: 0px 7px;
}
.itemOutros_img:focus{
    outline: 0;
}
.itemOutros_link.ultima{
    margin-right: 15px;
}